{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="home-container">
    <div class="example-wrapper">
        <h1>Les boards et catégories les plus actifs</h1>

        <div class="container-columns">
            <div class="home-category">
                <h3>Catégories :</h3>
                {% if categories is empty %}
                    <p>Aucune catégorie n'a été créé.</p>
                {% else %}
                    <ul>
                        {% for category in categories %}
                            <li><a href="{{ path('app_category_show', {'id': category.id}) }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="home-boards">
                <h3>Boards :</h3>
                {% if boards is empty %}
                    <p>Aucun board n'a été créé.</p>
                {% else %}
                    <ul>
                        {% for board in boards %}
                            <li><a href="{{ path('app_board_show_topic', {'id': board.id}) }}">{{ board.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}