{% extends 'base.html.twig' %}

{% block title %}Ajout d'une catégorie{% endblock %}

{% block body %}
    <div class="container-login">
        <div class="form-container">
            <h1>Ajout d'un board</h1>

            {{ form_start(form) }}
            {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}

            <button type="submit" class="sign">Créer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
