{% extends 'base.html.twig' %}

{% block title %}Liste des boards{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des boards</h1>

        {% if board is empty %}
            <p>Aucun board n'a été créé.</p>
        {% else %}
            <ul>
                {% for board in board %}
                    <li> <a href="{{ path('app_board_show_topic', {'id': board.id}) }}">{{ board.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        <a href="{{ path('app_board_new') }}">Créer un board</a>
    </div>
{% endblock %}
