{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau sujet{% endblock %}

{% block body %}
    <h1>Créer un nouveau sujet</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        <button type="submit">Créer</button>
    {{ form_end(form) }}
{% endblock %}
